<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">
          
 
 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">  
        <property name="driverClassName"  value="org.h2.Driver"></property>  
        <property name="url" value="jdbc:h2:tcp://localhost/~/testdb"></property>  
        <property name="username" value="sa"></property>  
        <property name="password" value="test.123"></property>  
        
    </bean>  

<security:http auto-config="true" use-expressions="true">
	 <security:csrf disabled="true"/> 
	
<security:intercept-url pattern="/NewProduct" access="hasRole('ROLE_ADMIN')"/>
<security:intercept-url pattern="/ViewUsers" access="hasRole('ROLE_ADMIN')"/>
<!-- 	<security:intercept-url pattern="/user/*" access="hasRole('ROLE_USER')"/> -->
<!-- 	<security:intercept-url pattern="/" access="permitAll" /> -->
	<security:form-login
            login-page="/Login"
            default-target-url="/validate"
            authentication-failure-url="/accessDenied"
            login-processing-url="/loginRequested"            
            username-parameter="lusername"
            password-parameter="lpassword" />
        <security:logout
            logout-success-url="/Logout"/>
            
             <!--     logout-url="/perform_logout"    -->
</security:http>

<security:authentication-manager>
<security:authentication-provider>
<security:jdbc-user-service
data-source-ref="dataSource"
users-by-username-query="select userName,password,enabled from User where userName= ?;"
authorities-by-username-query="select userName, role from User where userName =?" />
</security:authentication-provider>
</security:authentication-manager>

</beans>
